body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

.booksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 15px;
}

.bookCard {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.25rem;
  background-color: rgb(236, 193, 136);
  text-align: center;
}

.bookCard h4 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.bookCard img {
  border: 1px solid black;
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}
